body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	background: #4e5ec9;
	width: 300px;
	height: 60px;
	text-shadow: 1px 1px black;
	/* text-align: center; */
	color: white;
	text-align: center;
	margin-left: 30px;
	margin-top:105px;
}

.back-button {
	width: 40px;
	height: 25px;
	border: 1px solid white;
	background-color: lightgray;
	text-align: center;
	position: relative;
	top:17px;
	left:10px;
}

body{
	font-size:12px;
	font-family:"微软雅黑";
	color:#666;
}
*{
	padding:0px;
	margin:0px;
}

.input{
	margin-left:50px;
	margin-top:30px
}
.input1{
	border-width: 2px;
	border-color: darkblue;
	width:40px;
	height:150px;
	font-size:20px;
}
.input2{
	margin-left:15px;
	margin-top:10px;
	font-size:15px
}
#cac{
	width:277px;
	height:225px;
	background:#f2f2f2;
	margin-left:33px;
	margin-top:1px;
	padding:10px;
}
#cac .c_show .s_text{
	width:277px;
	height:42px;
	border:none;
	text-align:right;
	padding-right:20px;
	font-size:34px;
	color:#9e9e9e;
}

#cac .c_key ul{
	border:3px solid #fff;
	overflow:auto;
	margin:10px auto;
}
#cac .c_key ul li{
	float:left;
	width:85px;
	height:30px;
	background:#eaeaea;
	margin:0px;
	text-align:center;
	line-height:40px;
	font-size:15px;
	cursor:pointer;
	list-style:none;
	border:1px solid #fff;
}
#cac .c_key ul .c_tool{
	background:#738fd8;
	color:#fff;
}
#cac .c_key ul .c_result{
	background:#f90;
	color:#fff;
}
#cac .c_key ul li:hover{
	background:#fff;
	color:#000;
}

.c_date{
	float:left;
	width:129px;
	height:40px;
	background:#738fd8;
	color:#fff;
	margin:0px;
	text-align:center;
	line-height:40px;
	font-size:15px;
	cursor:pointer;
	list-style:none;
	border:1px solid #fff;
}

.c_result{
	float:left;
	width:129px;
	height:40px;
	margin:0px;
	text-align:center;
	line-height:40px;
	font-size:15px;
	cursor:pointer;
	list-style:none;
	border:1px solid #fff;
}

